@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-4px); }
  40% { transform: translateX(4px); }
  60% { transform: translateX(-4px); }
  80% { transform: translateX(4px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}

/* Hide on screen */
.print-only {
  display: none;
}

/* Show only when printing */
@media print {

  body * {
    visibility: hidden;
  }

  .print-only,
  .print-only * {
    visibility: visible;
  }

  .print-only {
    display: block;
    position: absolute;
    inset: 0;
  }
}
